<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container gap-3 py-3 d-flex justify-content-end">
        {% if request.user.is_authenticated %}
          <a href="{% url 'my_cars' %}" class="btn btn-primary">My Cars</a>
          <a href="{% url 'logout' %}" class="btn btn-outline-secondary">Log out</a>
        {% else %}
          <a href="{% url 'login' %}" class="btn btn-outline-primary">Log in</a>
          <a href="{% url 'register' %}" class="btn btn-outline-primary">Register</a>
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
